<h2><%= plural_table_name.titleize %></h2>

<table class="table">
  <thead>
    <tr>
<% for attribute in attributes -%>
      <th><%= attribute.human_name %></th>
<% end -%>
    </tr>
  </thead>
  <tbody>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
<% for attribute in attributes -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
      <td>
        <%%= link_to 'Show', <%= singular_table_name %>, :class => 'btn btn-mini' %>
        <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'btn btn-mini' %>
        <%%= link_to 'Destroy', <%= singular_table_name %>_path(<%= singular_table_name %>), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <%% end %>
  </tbody>
</table>

<%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, :class => 'btn btn-primary' %>
