<h2><%= singular_table_name.titleize %></h2>

<% for attribute in attributes -%>
<p>
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<div class="form-actions">
  <%%= link_to 'Back', <%= index_helper %>_path, :class => 'btn'  %>
  <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn' %>
  <%%= link_to 'Delete', <%= singular_table_name %>_path(@<%= singular_table_name %>), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
