<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <%= title_tag yield(:page_title) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js');</script>
  </head>
  <%= body_tag do %>
    <div class="wrapper">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, :class => "alert alert-#{name == :notice ? 'success' : 'error'}" do %>
          <a class="close" data-dismiss="alert">&times;</a>
          <%= msg %>
        <% end %>
      <%- end -%>

      <%= yield %>

    </div> <!-- div#container -->

    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>
  <% end %>
</html>
